<tempSensorCard
[Temperature]="Temperature"
[Humidity]="Humidity"
[AirPresure]="AirPresure"
></tempSensorCard>

<TemperatureGauge [data]="gaugeRandom" unit ="°C"></TemperatureGauge>

<!-- <LineChart [data]="ChartDataObj"></LineChart> -->
<!-- Button to set data to the chart-->
<button (click)="setChartData()">Set Chart Data</button>

<!--
<TemperatureGauge [data]="TempDataObj"></TemperatureGauge>

<div class="row">
    <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
        <Switch [title]="statusCard.title" [type]="statusCard.type">
          <i [ngClass]="statusCard.iconClass"></i>
        </Switch>
      </div>
</div>

<Gantt></Gantt> -->
